@import "../../../styles/global.scss";

.technology {
  height: 60vw;
  position: relative;
  background-color: $black;

  &__title {
    display: flex;
    font-size: 64px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    font-weight: 700;

    border-bottom: 0.2vw solid white;

    @include mq() {
      font-size: 4vw;
    }
  }

  &__text {
    width: 69vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1.5vw;

    padding: 3vw 0;

    @include mq() {
    }

    & p {
      text-align: center;
      font-size: 24px;
      font-weight: 400;

      @include mq() {
        font-size: 2vw;
      }
    }
  }
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  & a {
    display: flex;
    flex-direction: column;
    padding: 11px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
    align-items: center;
    & img {
      display: block;
      height: 35px;
      width: 35px;
    }
  }
}
