@import "../../../../styles/global.scss";

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 110px 40px 50px 40px;
  height: 100%;
  box-sizing: border-box;

  &__body {
    display: flex;
    gap: 10px;
    flex-direction: column;

  }

  &__linkContainer {
    perspective: 120px;
    perspective-origin: bottom;
  }

  &__link {
    color: black;
    cursor: pointer;
    @include hoverForLinks($black, $white);
    padding: 10px 6px;

    &_item {
      position: relative;
      z-index: 1000;
      display: block;
    }
  }
}

