@import "../../styles/global.scss";

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: $dark-grey;
  transform-origin: bottom;

}
.slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: $dark-grey;
    transform-origin: top;
  }