@import "../../../styles/global.scss";

.future {
    position: relative;
    background: $shadow;

    &__image {
        object-position: left;
        
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        display: flex;
        flex-direction: column;
        gap: 3vw;
    }
}

