%h1 {
  font-family: Din, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;

  text-transform: uppercase;
}

%h2 {
  font-family: Din, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

%body-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

%link {
  font-size: 32px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.small-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.big-text {
  color: #FFF;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body {
  @extend %body-text
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

a {
  @extend %link;
}
