@import "../../../styles/global.scss";

.hero {
  position: relative;
  height: 120vh;

  &__under_header {
    position: absolute;
    right: 3vw;
    top: 4.4vw;
    text-align: center;
    background: $golden;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 32vw;
    z-index: 1;
  }

  .about {
    position: absolute;
    left: 13vw;
    bottom: 6vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.4vw;

    &_title {
      text-wrap: nowrap;
    }
    
    &_sub_title {
      background: $golden;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 2vw;
    }
  }
}

.paralax {
  position: absolute;
  left: 0;
  right: 0;

  &__top {
    background: url("../../../images/home/hero-part-1.png") no-repeat center;
    top: 0;
    height: 86vh;
    width: 100vw;
    background-size: cover;
    z-index: -1;
  }

  &__bottom {
    background: url("../../../images/home/hero-part-2.png") no-repeat center bottom;
    bottom: -6%;
    height: 70%;
    background-size: cover;
    z-index: 0;
  }

  &__text {
    color: $white;

    font-family: Inter, sans-serif;
    font-size: 7.6vw;
    font-style: normal;
    font-weight: 600;
    line-height: 116%;
    letter-spacing: 0.4vw;
    mix-blend-mode: soft-light;

    position: absolute;
    bottom: 54vh;
    left: 13vw;
    
    display: flex;
    align-items: flex-end;
    gap: 6vw;
  }
}
