@import "../../../styles/global.scss";

.event_card {
  display: flex;
  align-items: center;
  height: 45vw;
  background: 
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );

  @include mq() {
    height: 50vw;
  }

  @include mq($laptop) {
    justify-content: center;
    padding: 20px 0;
  }

  &__text {
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 3vw;
    text-align: center;
    color: $white;
    margin: 0 auto;

    @include mq($laptop) {
      flex-direction: column;
    }
  }
  
  &__main_text {
    max-width: 24vw;

    @include mq() {
      max-width: 80vw;
    }
  }
  
  &__date_event {
    margin-bottom: 8px;
    padding: 0 18px 8px;
    border-bottom: 0.2vw solid $black;
    mix-blend-mode: difference;
    color: cornflowerblue;
  }
  
  &__type_event {
    mix-blend-mode: difference;
    color: cornflowerblue;
  }
  
}

.event {
  &__title {
    color: $dark-grey;
    letter-spacing: 13px;
    text-align: center;
    margin: 2.5vw 0 1.2vw;

    @include mq($laptop) {
      font-size: 2rem;
    }
  }
}
